<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>French</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleGetInfoString</key>
    <string>2.3.0 (for Java 6.0), Copyright 2002-2010 ConcoursJeunes.org. All Rights Reserved.</string>
    <key>CFBundleIconFile</key>
    <string>iconCJ.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.ajdeveloppement.concours.Main</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ConcoursJeunes</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>2.3.0</string>
    <key>CFBundleSignature</key>
    <string>ACGS</string>
    <key>CFBundleVersion</key>
    <string>2.3.0</string>
    <key>Java</key>
    <dict>
    	<key>WorkingDirectory</key>
    	<string>$APP_PACKAGE/Contents/Resources/Java</string>
        <key>JVMVersion</key>
        <string>1.6+</string>
        <key>MainClass</key>
        <string>org.ajdeveloppement.concours.Main</string>
        <key>SplashFile</key>
        <string>$JAVAROOT/ressources/Logo.png</string>
        <key>VMOptions</key>
	    <string>-Xmx256m</string>
    	<key>ClassPath</key>
    	<array>
    		<string>$JAVAROOT/ConcoursJeunes.jar</string>
    		<string>$JAVAROOT/config</string>
    		<string>$JAVAROOT/lang</string>
    		<string>$JAVAROOT/plugins</string>
    		<string>$JAVAROOT/lib/ConcoursJeunes-core.jar</string>
    		<string>$JAVAROOT/lib/ajcommons.jar</string>
    		<string>$JAVAROOT/lib/ajcommons-ext.jar</string>
    		<string>$JAVAROOT/lib/ajcommons-swingx-ext.jar</string>
    		<string>$JAVAROOT/lib/beansbinding-1.2.1.jar</string>
    		<string>$JAVAROOT/lib/iText-2.1.7.jar</string>
    		<string>$JAVAROOT/lib/swingx-1.6.1.jar</string>
    		<string>$JAVAROOT/lib/jgraphx.jar</string>
    		<string>$JAVAROOT/lib/h2-1.2.147.jar</string>
    		<string>$JAVAROOT/lib/h2mig_pagestore_addon.jar</string>
    		<string>$JAVAROOT/lib/js.jar</string>
    		<string>$JAVAROOT/lib/js-engine.jar</string>
    	</array>
    	<key>Properties</key>
    	<dict>
    		<key>apple.laf.useScreenMenuBar</key>
    		<string>true</string>
    	</dict>
    </dict>
    <key>LSHasLocalizedDisplayName</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright 2002-2010 ConcoursJeunes.org, All Rights Reserved.</string>
</dict>
</plist>
