<html>
<body>
	<table width="100%">
		<tr>
			<td width="100"><img src="file:{LOGO_CLUB_URI}" width="100" height="110"></td>
			<td colspan="2"><h1>{INTITULE_CLUB}</h1></td>
		</tr>
	</table>
	<h1>Profil actif : {PROFILE_NAME} <font size="-4"><a href="action://change_profile">changer</a></font></h1>
	<center><table>
		<tr><th cols="3">Concours Existant</th></tr>
		<tr><td cols="3"><a href="action://new_concours">Nouveau</a></td></tr>
		<bloc::listconcours>
		<tr>
			<td>{STATE}</td>
			<td><a href="action://open_concours#{ID_CONCOURS}">{LIBELLE_CONCOURS}</a></td>
			<td><a href="action://delete_concours#{ID_CONCOURS}">Supprimer</a></td>
		</tr>
		</bloc::listconcours>
	</table></center>
</html>