<html>
<head>
<style type="text/css"> 
body {
	/*
	background-image: url(file:./ressources/top.png);
	background-repeat: repeat-x;
	*/
	
	font-family: Tahoma, Arial, Verdana, sans-serif;
	
	margin: 0px;
}
a {
	text-decoration: none;
}
</style>
</head>
<body>
	<table width="100\%">
		<tr>
			<td width="100"><img src="file:{LOGO_CLUB_URI}" width="100" height="110"></td>
			<td><h1>{INTITULE_CLUB}</h1></td>
			<td><h1>%home.activeprofile% : <a href="http://change_profile">{PROFILE_NAME}</a></h1></td>
		</tr>
	</table>
	<br><br>
	<center>
		<table>
			<tr>
				<td>
					<img src="file:./ressources/fnd.jpg" alt="" width="300" height="308">
				</td>
				<td>
					<table>
						<tr><th colspan="3" align="left"><font size="+1">%home.gestcompet%</font><hr></th></tr>
						<tr><td colspan="3"><a href="http://new_concours">%home.new%</a></td></tr>
						<tr><td colspan="3"><td>&nbsp;</td></tr>
						<bloc::listconcours>
						<tr>
							<td>
								<img src="file:{STATE}" alt="">
							</td>
							<td><a href="http://open_concours#{ID_CONCOURS}">{LIBELLE_CONCOURS}</a></td>
							<td><a href="http://delete_concours#{ID_CONCOURS}">
								<img src="file:./ressources/b_drop.png" alt="%home.delete%" border="0">
							</a></td>
						</tr>
						</bloc::listconcours>
					</table>
				</td>
			</tr>
		</table>
		%home.info%
	</center>
</html>