<html>
<head>
<style type="text/css"> 
body {
	background-image: url(file:./ressources/backleft.jpg);
	background-repeat: repeat-y;
	
	font-family: Tahoma, Arial, Verdana, sans-serif;
}
a {
	text-decoration: none;
}
</style>
</head>
<body>
	<table width="100%">
		<tr>
			<td width="100"><img src="file:{LOGO_CLUB_URI}" width="100" height="110"></td>
			<td colspan="2"><h1>{INTITULE_CLUB}</h1></td>
		</tr>
	</table>
	<br><br>
	<h1>Profil actif : <a href="action://change_profile">{PROFILE_NAME}</a></h1>
	<br><br>
	<center>
		<table>
			<tr>
				<td>
					<img src="file:./ressources/fnd.jpg" alt="" width="300" height="300">
				</td>
				<td>
					<table>
						<tr><th colspan="3" align="left"><font size="+1">Concours Existant</font><hr></th></tr>
						<tr><td colspan="3"><a href="http://new_concours">Nouveau</a></td></tr>
						<tr><td colspan="3"><td>&nbsp;</td></tr>
						<bloc::listconcours>
						<tr>
							<td>
								{STATE}
								<img src="file:./ressources/gestion.png" alt="">
							</td>
							<td><a href="http://open_concours#{ID_CONCOURS}">{LIBELLE_CONCOURS}</a></td>
							<td><a href="http://delete_concours#{ID_CONCOURS}">
								<img src="file:./ressources/b_drop.png" alt="Supprimer" border="0">
							</a></td>
						</tr>
						</bloc::listconcours>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					visitez le site Web www.concoursjeunes.org afin d'être informé des mises à jours
				</td>
			</tr>
		</table>
	</center>
</html>