Source: arccompetition
Section: contrib
Priority: optional
Maintainer: Aurelien JEOFFRAY <aurelien.jeoffray@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4

Package: arccompetition
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, sun-java6-jre | openjdk-6-jre (>= 6b18)
Description: Logiciel de Gestion des compétitions de Tir à l'Arc
 .
 Auteur Aurélien Jeoffray
 http://arccompetition.ajdeveloppement.org
 .
 ArcCompetition est un logiciel de gestion des compétitions
 de tir à l'arc.
 .
 ArcCompetition nécessite la machine virtuel java 6.0
 disponible sur le CD d'instalation ou téléchargeable sur
 http://www.java.com.
 .
 ArcCompetition fonctionne sous toutes les plateformes
 compatibles jse 6.0 tel que MS Windows, GNU/Linux, Solaris.
 .
 ArcCompetition est distribué sous double licences Open Source
 CeCILL et GPL
 .
 Ce Logiciel inclut les Librairies
 * iText (http://www.lowagie.com/iText/) - Licence MPL et LGPL
 * H2 Database (http://www.h2database.com) - Licensed under the H2 License, Version 1.0 (http://h2database.com/html/license.html)
 * SwingX (https://swingx.dev.java.net/) - Licence LGPL
 * AjCommons (http://www.ajdeveloppement.org) - Licence CeCILL-C
 * AjCommons-ext (http://www.ajdeveloppement.org) - Licence GPL V2 with Sun "Classpath" exception

