Source: concoursjeunes
Section: contrib
Priority: optional
Maintainer: Aurelien JEOFFRAY <aurelien.jeoffray@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: concoursjeunes
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Logiciel de Gestion des Concours Jeunes de Tir à l'Arc
 .
 Auteur Aurélien Jeoffray
 http://www.concoursjeunes.org
 .
 ConcoursJeunes est un logiciel de gestion des concours jeunes
 pour les compétitions de tir à l'arc.
 .
 ConcoursJeunes nécessite la machine virtuel java 6.0
 disponible sur le CD d'instalation ou telecharageable sur
 http://www.java.com.
 .
 ConcoursJeunes fonctionne sous toutes les plateformes
 compatible jse 6.0 tel que MS Windows, GNU/Linux, Solaris.
 .
 ConcoursJeunes est distribué sous double licence Open Source
 CeCILL et GPL
 .
 Ce Logiciel inclut les Librairies
 * iText (http://www.lowagie.com/iText/) - Licence MPL et LGPL
 * H2 Database (http://www.h2database.com) - Licensed under the H2 License, Version 1.0 (http://h2database.com/html/license.html)
 * SwingX (https://swingx.dev.java.net/) - Licence LGPL
 * AJPackage (Librairie personnel libre d'usage source non diffusé à ce jour)

