<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AJDeveloppement.ArcCompetition.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AJDeveloppement.ArcCompetition.Properties.Settings>
            <setting name="memoryMaxSize" serializeAs="String">
                <value>256m</value>
            </setting>
            <setting name="jarFile" serializeAs="String">
                <value>ArcCompetition.jar</value>
            </setting>
            <setting name="VMArgs" serializeAs="String">
                <value />
            </setting>
        </AJDeveloppement.ArcCompetition.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
