[Desktop Entry]
Encoding=UTF-8
Name=@version.name@
Name[fr]=@version.name@
GenericName=@version.name@
GenericName[fr]=@version.name@
Comment=@en.summary@
Comment[fr]=@fr.summary@
Exec=/usr/bin/ArcCompetition
Icon=/usr/share/pixmaps/ArcCompetition.xpm
Terminal=false
Type=Application
Categories=Office;Java;Sports
Version=@version.numero@
